$white: #fff;
$black: #000;

$base__color: #333;

$link__color: #c3251d;
$link__hover-color: #333;

$body__background-color: #eee;

$nav__link-color: #333;

$primary-nav__background-color: $white;
$primary-nav__link-color: $nav__link-color;
$secondary-nav__background-color: $white;
$secondary-nav__link-color: $nav__link-color;

$site-footer__background-color: $white;